<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head.ejs") %>
</head>
<body>
    <header><%- include("../../partials/_nav.ejs") %></header>
    <main>
      <div class="jumbotron">
        <div class="container">
          <h1 class="mb-4">修改內容</h1>

          <form action="/blog/ <%= article.id %>?_method=PUT" method="post">
            <%- include('_form_edit.ejs') %>
          </form>
        </div>  
      </div>
    </main>
    <footer><%- include("../../partials/footer.ejs") %></footer>
</body>
</html>