<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head.ejs") %>
</head>
<body>
    <header><%- include("../../partials/_nav.ejs") %></header>
    <main>
        <div class="jumbotron">
            <div class="container">
                <h1 class="mb-4"><%= article.title %></h1>
                <div><%= article.createdAt.toLocaleDateString() %></div>
                <div><%= article.description %></div>
                <div><%= article.markdown %></div>
                <form action="/blog" method="get" class="mt-2">
                    <button type="submit" class="btn btn-secondary">返回博客</button>
                </form>

            </div>
        </div>
    </main>
    <footer><%- include("../../partials/footer.ejs") %></footer>
</body>
</html>       
