<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../../../../partials/head.ejs") %>
</head>
<body>
    <header><%- include("../../../../../partials/_nav.ejs") %></header>
    <main>
        <div class="jumbotron">
            <div class="container">
                <div class="card mt-4 mb-4">
                    <div class="card-body">
                        <h4 class="card-title mb-1"><%= product.name %></h4>
                        <div class="card-subtitle text-muted mb-2">
                            <%= product.createdAt.toLocaleDateString() %>
                        </div>
                        <div class="card-text mb-2"><%= product.expday %></div>
                        <div class="card-text mb-2"><%= product.number %></div>
                        <div class="card-text mb-2"><%= product.price %></div>
                        <div class="card-text mb-2"><%= product.description %></div>
                    </div>
                </div>
                <form action="/product/type" method="get">
                    <button type="submit" class="btn btn-primary">回到產品列表</button>            
                </form>
    
                
            </div>
        </div>
    </main>
    <footer><%- include("../../../../../partials/footer.ejs") %></footer>
</body>
</html>